* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #1f4762, #153040);
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.103);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    color: #ffc619;
    text-decoration: none;
    font-weight: bold;
}

.navbar a {
    font-size: 16px;
    color: #ffc619;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
}

.navbar a:hover {
    color: #fff; /* Change color on hover */
}

section {
    min-height: 100vh;
    display: flex;/* Align items vertically */
    justify-content: center; /* Center content vertically */
    padding: 20px; /* Add padding inside sections */
    text-align: center;
    font-size: 2rem;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    background-image: url('bgh.jpg');
  }
  
  #home h2 {
    font-size: 3rem;
  }

  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about img {
    max-width: 100%;
    height: 500px;
    margin-bottom: 1em;
}

#about .caption {
    text-align: center;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    background-color:#e09f5a2c; /* Background color with transparency */
    color: #fff; /* Text color */
    padding: 10px; /* Padding around the text */
}
#educ.education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-images {
    display: flex;
    justify-content: center;
}

.education-image {
    text-align: center;
}

.education-image img {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    margin: 10px; /* Add spacing between images */
}

.education-image p {
    font-size: 14px; /* Adjust font size as needed */
}
.education-image {
    text-align: center;
    margin: 80px; /* Increase spacing around each image */
}

.education-image img {
    width: 200px; /* Increase image width */
    height: 200px; /* Increase image height */
    margin-bottom: 10px; /* Add space below each image */
}
#port {
    text-align: center;
    padding: 20px;
    background-color: #283040;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Add height to fill the viewport */
  } 
  #port h1 {
    font-size: 10rem;
    margin-bottom: 20px;

  }
  
  #port h2 {
    font-size: 5rem;
    color: #fda300;
    margin-top: 20px; /* Add margin to separate from h1 */
    margin-bottom: 2px;
    font-weight: bold;
  }
  
  #port ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Add margin to remove extra space */
    flex-grow: 1; /* Add flex-grow to fill remaining space */
  }
  
  #port li {
    font-size: 3rem;
    margin: 10px 0;
  }

#educ.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-images {
    display: flex;
    justify-content: center;
}

.testimonial-image {
    text-align: center;
}

.testimonial-image img {
    width: 1000px; /* Adjust size as needed */
    height: 559px; /* Adjust size as needed */
    margin: 10px; /* Add spacing between images */
}

.testimonial-image p {
    font-size: 30px;
    font-weight: bold;
    color: #ffc619;
}
.testimonial-image {
    text-align: center;
    display: none; /* Hide all images by default */
}
.testimonial h2{
    color:#fda300;
}
.video h3{
    color: #fda300;
}
.work-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; /* Center items vertically */
    margin-top: 20px;
}

.work-videos iframe {
    margin: 0 10px 20px; /* Adjusted margin for spacing */
}

.caption{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background:#182833;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 0 20px 0 40px; /* Adjusted padding values */
}
.contact-right{
    flex-basis: 40%;
    padding: 0 40px;
    background-color:#e09f5a;
}
.foot{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    color: #1f4762;
}
.tab{
    font-size: 25px;
}
label, input, textarea {
    margin-bottom: 10px; /* Increased margin for better spacing */
}
h1{
    margin-bottom: 10px;
}
.caption p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row.input-group {
    flex-basis: 100%; /* Set input fields to full width */
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display:block;
    color: #e09f5a;
}
button{
    background: #e09f5a;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181,0.3);
}
.contact-left h3{
    color: #ccc;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}
section {
    background-image: url('bgh.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 0; /* Adjust padding as needed */
}
section:nth-child(odd) {
    background-image: url('bghflip.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0; /* Adjust padding as needed */
}